* {
  box-sizing: border-box;
}

html {
  font-family: "Do Hyeon";
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0px;
}

.reset-btn {
  all: unset;
  position: absolute;
  font-size: 28px;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 1;
}

.modal input {
  all: unset;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.header .logo {
  margin-bottom: 15px;
}

.header p {
  margin-bottom: 15px;
}

.header a {
  all: unset;
  cursor: pointer;
  font-size: 30px;
  color: black;
}

.header .header__lists {
  margin-bottom: 10px;
}

.header__select {
  display: flex;
}

.header__select .lists:last-child {
  margin-left: 15px;
}

.header__lists .list--notice {
  font-size: 20px;
  cursor: pointer;
}

.container,
.notice__container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.container::-webkit-scrollbar,
.notice__container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 180px;
  text-align: center;
  gap: 10px;
  padding: 0 10px;
  margin-bottom: 30px;
}

.container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eae9e7;
  border-radius: 5px;
  align-items: center;
  padding: 5px;
}

.card button {
  all: unset;
  background-color: #cad2b8;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  color: black;
  width: 70px;
}

.card .title {
  font-size: 20px;
}

.card p {
  font-size: 18px;
}

.card span {
  font-size: 17px;
}

.card button:active {
  background-color: #bcbab8;
}

.card input {
  all: unset;
  border-bottom: 1px solid black;
  width: 50%;
}

.ads {
  min-width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  height: 40px;
  color: #74606e;
}

.footer .contact {
  margin-bottom: 10px;
}

.modal__notice {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice__container {
  max-width: 414px;
  max-height: 900px;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: scroll;
}

.notice__container i {
  font-size: 30px;
  cursor: pointer;
}

.notice__header {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.notice__title {
  font-size: 18px;
}

.notice__main {
  padding: 10px 5px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}
.hidden {
  display: none;
}

.ads {
  width: 320px;
}
